@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;

  overflow-x: hidden;

  @apply bg-black text-white;
}

html {
  height: -webkit-fill-available;
}

#__next,
#__font {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@layer components {
  .header {
    @apply text-5xl sm:text-extra;
  }

  .primary-gradient {
    @apply bg-gradient-to-r from-[#ee0979] to-[#ff6a00];
  }

  .text-gradient {
    @apply primary-gradient bg-clip-text text-transparent;
  }
}

/* from-[#1f4037] to-[#99f2c8] */
/* from-[#ee0979] to-[#ff6a00] */
