@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

#__next,
#__font {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
