@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;

  overflow-x: hidden;

  @apply bg-black text-white;
}

html {
  height: -webkit-fill-available;
}

#__next,
#__font {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@layer components {
  .header {
    @apply text-5xl sm:text-extra;
  }
}
